[*]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.{cs,cshtml}]
indent_size = 4
dotnet_diagnostic.SA1101.severity = silent
dotnet_diagnostic.SA1512.severity = silent
dotnet_diagnostic.SA1513.severity = silent
dotnet_diagnostic.SA1515.severity = silent
dotnet_diagnostic.SA1600.severity = silent
dotnet_diagnostic.CS1591.severity = silent
